#contacto {
  padding: 0px;
  height: 75vh;
  justify-content: space-between;
  text-align: center;
}
main .partida {
  margin: auto;
  max-width: 75vh;
  margin-top: 50px;
}
main .partida iframe{
  width: 65vh;
  height: 400px;
  border:0;
}